body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282c34;
  color: #fff;
}

h1{
    margin: 0px 0 16px 0;
    font-size: 22px;
    font-family: 'Lato';
    letter-spacing: .5px;
    font-weight: 100;
}

p{
  font-weight: 100;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

b{font-weight: 400;font-family: 'Lato', 'Helvetica Neue', sans-serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  width: 100%;
}

.episodeList          { overflow-y: auto; max-height: 500px; clear: both; }
.episodeList thead th { position: sticky; top: 0; background: #282c34; font-size: 14px; text-align: left; padding: 20px 5px 20px 0px;}
.episodeList tr {  font-size: 14px;}

a, 
span.episodeLink{
  color: #c2fcff;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.btnBack a{
  border-radius: 5px;
  border: solid 1px #fff;
  color: #fff;
  background: transparent;
  padding: 8px 15px;
  float: right;
  box-sizing: border-box;
  text-align: center;
  transition: transform .6s .25s ease-out;
}

.btnBack a:hover{
    transform: scale(.9);
}

@media (min-width: 375px){
  body {
    padding: 20px;
  }
}
@media (max-width: 375px) {
  .App-header{
    margin: 0px 0px 20px 0;
  }
  
  body {
    padding: 20px;
  }

  h1{font-size: 20px;}
  
  .btnBack a{
    width: 100%;
    float: none;
    position: relative;
    display: inline-block;
  }

}